body {
    margin: 0;
    padding: 0;
    background: gray;
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
}

#p1 {
    
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    align-items: flex-end;
    justify-content: center;
    background-color: gray;
    /*flex: 1 1 0;*/
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.display {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 20%;
    background-color: white;
}

button {
    height: 100%;
    width: 100%;
}

#clear {

}

#delete {

}

#button0 {

}

#button1 {

}

#button2 {

}

#button3 {

}

#button4 {

}

#button5 {

}

#button6 {

}

#button7 {

}

#button8 {

}

#button9 {

}

#buttonDivide {

}

#buttonAdd {

}

#buttonMinus {

}

#buttonMultiply {

}

#buttonDecimal {

}

#buttonEquals {

}